{% extends "base.html" %}

{% block content %}
<div class="container-fluid main-body dashboard">
{% if messages %}
<section id="message">
	{% for message in messages %}
    	<li {% if message.tags %} class="bg-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</section>
{% endif %}

	<div class="row">
	    <div class="col-md-12">
	    <div class="row">
	    	{%if perms.auth.view_user %}
	    	<div class="col-md-4">
	    		{% include "widget/user-widget.html" %}	
	    	</div>
	    	{% endif %}

	    	{%if perms.contacts.view_contactprofile %}
	    	<div class="col-md-4">
	    		{% include "widget/contact-widget.html" %}	
	    	</div>
	    	{% endif %}

	    	<div class="col-md-4">
	    		{% include "widget/inventory-widget.html" %}	
	    	</div>

	    	<div class="col-md-4">
	    		{% include "widget/events-widget.html" %}	
	    	</div>

	    	<div class="col-md-4">
	    		{% include "widget/schedule-widget.html" %}	
	    	</div>

	    </div>
		</div>
	</div>
</div>

{% endblock content %}