<table class="table">
<tr>
	<th><label for="id_next_item_number">Next Item Number:</label></th>
	<td>
		<input class="form-control" id="id_next_item_number" name="next_item_number" placeholder="Next Item Number" type="number" value="{{sv.next_item_number}}">
	</td>
</tr>
</table>
