
<div class="navbar navbar-inverse navbar-static-top shadow-bottom" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand scom" href="/">PLANATEWIDEHOSTING</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>

				{% if user.is_authenticated %}
					{% if perms.contacts.view_contact %}
						<li class="dropdown">
						<a href="/contacts/add/" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
						<ul class="dropdown-menu">
							{% if perms.contacts.add_contact %}
								<li><a href="/contacts/add/">Add Contact</a></li>
							{% endif %}						
							<li><a href="/contacts/">Contact List</a></li>

							{% if perms.contacts.view_contacttype %}
								<li class="divider"></li>
								<li class="dropdown-submenu">
								<a href="/contacts/contact-type/">Contact Type</a>
									<ul class="dropdown-menu">
										{% if perms.contacts.add_contacttype %}
										<li>
											<a href="/contacts/contact-type/add/">
												Add Contact Type
											</a>
										</li>
										{% endif %}
										<li>
											<a href="/contacts/contact-type/">
												Contact Type List
											</a>
										</li>
										
									</ul>
								</li>
							{% endif %}

							{% if perms.contacts.view_paymentterm %}
								<li class="divider"></li>
								<li class="dropdown-submenu">
								<a href="/contacts/terms/">Payment Terms</a>
									<ul class="dropdown-menu">
										{% if perms.contacts.add_paymentterm %}
										<li><a href="/contacts/term/add/">Add Terms</a></li>
										{% endif %}
										<li><a href="/contacts/terms/">Term List</a></li>
										
									</ul>
								</li>
							{% endif %}

							{% if perms.contacts.view_emailtype %}
								<li class="divider"></li>
								<li class="dropdown-submenu">
								<a href="/contacts/email-type/">Email Types</a>
									<ul class="dropdown-menu">
										{% if perms.contacts.add_emailtype %}
										<li><a href="/contacts/email-type/add/">Add Email Type</a></li>
										{% endif %}
										<li><a href="/contacts/email-type/">Email Type List</a></li>
										
									</ul>
								</li>
							{% endif %}

							{% if perms.contacts.view_deliverychoice %}
								<li class="divider"></li>
								<li class="dropdown-submenu">
								<a href="/contacts/delivery-choice/">Shippling Method</a>
									<ul class="dropdown-menu">
										{% if perms.contacts.add_deliverychoice %}
										<li><a href="/contacts/delivery-choice/add/">Add Shippling Method</a></li>
										{% endif %}
										<li><a href="/contacts/delivery-choice/">Shippling Method List</a></li>
										
									</ul>
								</li>
							{% endif %}

							{% if perms.contacts.view_distributionmethod %}
								<li class="divider"></li>
								<li class="dropdown-submenu">
								<a href="/contacts/distribution-method/">Distribution Method</a>
									<ul class="dropdown-menu">
										{% if perms.contacts.add_distributionmethod %}
										<li>
											<a href="/contacts/distribution-method/add/">
												Add Distribution Method
											</a>
										</li>
										{% endif %}
										<li>
											<a href="/contacts/distribution-method/">
												Distribution Method List
											</a>
										</li>
										
									</ul>
								</li>
							{% endif %}


							{% if perms.contacts.view_currency %}
								<li class="divider"></li>
								<li class="dropdown-submenu">
								<a href="/contacts/currency/">Currency</a>
									<ul class="dropdown-menu">
										{% if perms.contacts.add_currency %}
										<li><a href="/contacts/currency/add/">Add Currency</a></li>
										{% endif %}
										<li><a href="/contacts/currency/">Currency List</a></li>
										
									</ul>
								</li>
							{% endif %}

							{% if perms.contacts.view_phonetype %}
								<li class="divider"></li>
								<li class="dropdown-submenu">
								<a href="/contacts/phone-type/">Phone Type</a>
									<ul class="dropdown-menu">
										{% if perms.contacts.add_currency %}
										<li><a href="/contacts/phone-type/add/">Add Phone Type</a></li>
										{% endif %}
										<li><a href="/contacts/phone-type/">Phone Type List</a></li>
										
									</ul>
								</li>
							{% endif %}
							
						</ul>
						</li>
					{% endif %}

					{% if perms.inventory.view_item %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory <b class="caret"></b></a>
							<ul class="dropdown-menu">
								{% if perms.inventory.add_item %}
								<li>
									<a href="/inventory/item/add/">
										Add Inventory Item
									</a>
								</li>
								{% endif %}
								<li>
									<a href="/inventory/list/">
										Inventory Item List
									</a>
								</li>
								
								{% if perms.inventory.view_itemunitmeasure %}
								<li class="divider"></li>

								<li class="dropdown-submenu">
									<a href="/inventory/unit-measure-list/">Item Unit Mesure</a>
									<ul class="dropdown-menu">
										{% if perms.inventory.add_itemunitmeasure %}
										<li><a href="/inventory/unit-measure/add/">Add Unit Measure</a></li>
										{% endif %}
										<li><a href="/inventory/unit-measure-list/">Unit Measure List</a></li>
										
									</ul>
								</li>
								{% endif %}

								{% if perms.inventory.view_productiontype %}
								<li class="divider"></li>

								<li class="dropdown-submenu">
									<a href="/inventory/production-type-list/">Production Type</a>
									<ul class="dropdown-menu">
										{% if perms.inventory.add_productiontype %}
										<li><a href="/inventory/production-type/add/">Add Production Type</a></li>
										{% endif %}
										<li><a href="/inventory/production-type-list/">Production Type List</a></li>
										
									</ul>
								</li>
								{% endif %}

								{% if perms.inventory.view_customsdesignation %}
								<li class="divider"></li>

								<li class="dropdown-submenu">
									<a href="/inventory/custom-designation-list/">Custom Designation</a>
									<ul class="dropdown-menu">
										{% if perms.inventory.add_customsdesignation %}
										<li><a href="/inventory/custom-designation/add/">Add Custom Designation</a></li>
										{% endif %}
										<li><a href="/inventory/custom-designation-list/">Custom Designation List</a></li>
										
									</ul>
								</li>
								{% endif %}
								{% if perms.inventory.view_location %}
								<li class="divider"></li>

								<li class="dropdown-submenu">
									<a href="/inventory/location-list/">Location</a>
									<ul class="dropdown-menu">
										{% if perms.inventory.add_location %}
										<li><a href="/inventory/location/add/">Add Location</a></li>
										{% endif %}
										<li><a href="/inventory/location-list/">Location List</a></li>
										
									</ul>
								</li>
								{% endif %}

								
							</ul>
						</li>
					{% endif %}

				{% endif %}

			</ul>


			<ul class="nav navbar-nav navbar-right">
              	<li class="">
              		<a href="/user/login/">Login </a>
            	</li>
            	<li class="">
              		<a href="/user/register/">Register </a>
            	</li>
              	<li>
              		<a href="/user/logout/">Logout</a>
              	</li>
              	
            </ul>

		</div><!--/.nav-collapse -->
	</div>
</div>
