{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
	    
	    <form action="/user/login/" method="post">{% csrf_token %}
		    <div class="panel panel-primary">
		    	<div class="panel-heading heading">
		    		<b>User Login</b>
		    	</div>
		    	<div class="panel-body">
		    		<table class="table">
			    		<tr>
			    			<th>
			    				<label for="username">UserName</label>
			    			</th>
			    		</tr>
			    		<tr>
			    			<td>
			    				<input type="text" name="username" class="form-control">
			    			</td>
			    		</tr>
			    		<tr>
			    			<th>
			    				<label for="password">Password</label>
			    			</th>
			    		</tr>
			    		<tr>
			    			<td>
			    				<input type="password" name="password" class="form-control">
			    			</td>
			    		</tr>
			    		<tr>
			    			
			    			<td align="right">
			    				<input type="submit" value="Login" class="btn btn-primary">
			    			</td>
			    		</tr>
			    	</table>		
		    	</div>
		    </div>
	    	
	    </form>

		</div>
		
	</div>
</div>

{% endblock content %}