{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
	    
	    <form action="/user/register/" method="post">{% csrf_token %}
		    <div class="panel panel-primary">
		    	<div class="panel-heading heading">
		    		<b>User Register</b>
		    	</div>
		    	<div class="panel-body">
		    		<table class="table">
		    			<tr>
			    			<th>
			    				<label for="first_name">First Name</label>
			    			</th>
			    			<td>
			    				<input type="text" name="first_name" class="form-control">
			    			</td>
			    		</tr>
			    		<tr>
			    			<th>
			    				<label for="last_name">Last Name</label>
			    			</th>
			    			<td>
			    				<input type="text" name="last_name" class="form-control">
			    			</td>
			    		</tr>
			    		<tr>
			    			<th>
			    				<label for="username">UserName</label>
			    			</th>
			    			<td>
			    				<input type="text" name="username" class="form-control">
			    			</td>
			    		</tr>
			    		<tr>
			    			<th>
			    				<label for="password">Password</label>
			    			</th>
			    			<td>
			    				<input type="password" name="password" class="form-control">
			    			</td>
			    		</tr>
			    		<tr>
			    			<th>
			    				<label for="password">Confirm Password</label>
			    			</th>
			    			<td>
			    				<input type="password" name="password2" class="form-control">
			    			</td>
			    		</tr>
			    		<tr>
			    			<th>
			    				<label for="password">Email</label>
			    			</th>
			    			<td>
			    				<input type="email" name="email" class="form-control">
			    			</td>
			    		</tr>
			    		
			    		<tr>
	
			    			<td colspan="2" align="right">
			    				<input type="submit" value="Register" class="btn btn-primary">
			    			</td>
			    		</tr>
			    	</table>		
		    	</div>
		    </div>
	    	
	    </form>

		</div>
		
	</div>
</div>

{% endblock content %}