<table class='table'>
<tr>
	<th colspan="1">
		<label for="id_item_number">Item number:</label>
	</th>
	<td colspan="5">
		<div style="position: relative;">
			<input class="form-control" ng-model='search_item' maxlength="25" id="id_item_number_search"  type="search" name="item_number_search" ng-change="searchItem(search_item)" placeholder="search for item" autocomplete="off" ng-disabled="item_checked">
			<input type="hidden" name="item_number" id="id_item_number" value="{[{search_item}]}">
			<div id="item-list" ng-show="items.length">
				<table class="table">
					<thead>
						<th>Item Number</th>
						<th>Description</th>
						<th>Supplier</th>
						<th>Terms</th>
						<th>Cost</th>
						<th><a href="#" class="close">X</a></th>
					</thead>
					<tbody>
						<tr ng-repeat="item in items" ng-click="selectItem(item)">
							<td>{[{item.item_number}]}</td>
							<td colspan="2">{[{item.description}]}</td>
							<td>{[{item.primary_supplier}]}</td>
							<td>{[{item.terms}]}</td>
							<td>{[{item.cost}]}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-show="!items.length && show_item_list" class="bg-info text-danger">No Items found!</div>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_description">Description:</label>
	</th>
	<td colspan="5">
		{{ item_form.description.errors }}
		<textarea class="form-control" cols="40" id="id_description" name="description" placeholder="Item Description" rows="2" value=""></textarea>
	</td>
</tr>

<tr>
	<th>
		<label for="id_minimum_qty_on_hand">Minimum qty on hand:</label>
	</th>
	<td>
		{{ item_form.minimum_qty_on_hand.errors }}
		<input class="form-control decimal" id="id_minimum_qty_on_hand" name="minimum_qty_on_hand" placeholder="Minimum quantity on hand" type="text">
	</td>
	<th>
		<label for="id_max_order_qty">Max order qty:</label>
	</th>
	<td>
		{{ item_form.max_order_qty.errors }}
		<input class="form-control decimal" id="id_max_order_qty" name="max_order_qty" placeholder="Maximum Order Quenty" type="text" value="">
	</td>
	<th>
		<label for="id_max_single_order_qty">Max single order qty:</label>
	</th>
	<td>
		{{ item_form.max_single_order_qty.errors }}
		<input class="form-control decimal" id="id_max_single_order_qty" name="max_single_order_qty" placeholder="Maximum Single Order Quenty" type="text">
	</td>
</tr>

<tr>
	<th colspan="1">
		<label for="id_primary_supplier">Primary supplier:</label>
	</th>
	<td colspan="5">
		<div id="supplier">
		{{ item_form.primary_supplier.errors }}
		<input type="text" name="primary_supplier_demo" placeholder="Start typing to search for supplier" id="id_primary_supplier_demo" class="form-control custom-form-control ng-pristine ng-valid" ng-model="search_supplier" autocomplete="off" ng-change="searchContact(search_supplier)">
		<a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
		<div class="contact_info" ng-show="show_supplier">
			<table class='table'>
				<tr class="bg-success">
					<th><b>CONTACT NAME</b> :</th>
					<td>{[{supplier.contact_name}]}</td>
				</tr>
				<tr class="bg-info">
					<th><b>ADDRESS</b> :</th>
					<td>{[{supplier.address_1}]}</td>
				</tr>
				<tr class="bg-success">
					<th><b>CITY</b> :</th>
					<td>{[{supplier.city}]}</td>
				</tr>

				<tr class="bg-info">
					<td><b>CONTACT NUMBER</b> :</td>
					<td>
						<li ng-repeat="ph in supplier.phones">
							{[{ph.type}]} {[{ph.number}]} {[{ph.ext}]}
						</li>
					</td>
				</tr>
			</table>
		</div>
			
		
			<table class="table selectable" class="ui-autocomplete ui-widget-content-custom ui-corner-all">
				<thead>
					<tr>
						<th>#</th><th>ID</th><th>Contact Name</th><th>Address 1</th><th> City </th>
						<th><a href="" class="close">x</a></th>
					</tr>
				</thead>
				<tbody>
				<tr class="ui-menu-item" ng-repeat="contact in suppliers" ng-click="selectPriSupplier(contact)">
					<td>
						<input type="radio" name="contact" value="{[{contact.id}]}">
						<div class='phone' ng-repeat="phon in contact.phones">
						<input type="hidden" data-phone-number="{[{phon.number}]}" data-ext="{[{phon.phone_ext}]}" data-phone-type="{[{phon.type}]}">
						</div>
					</td>
					<td class="sid">{[{contact.id}]}</td>
					<td class="contact_name">{[{contact.contact_name}]}</td>
					<td class="address_1">{[{contact.address_1}]}</td>
					<td class="city">{[{contact.city}]}</td>
					
					<td>
						
					</td>
					
				</tr>
				</tbody>
			</table>
		
		</div>
		<input type="hidden" name="primary_supplier" id="id_primary_supplier" value="">
	</td>
</tr>
<tr>
	<th>
		<label for="id_wholesale_cost">Wholesale cost:</label>
	</th>
	<td colspan="2">
		{{ item_form.wholesale_cost.errors }}
		<input class="form-control decimal" id="id_wholesale_cost" name="wholesale_cost" placeholder="Wholesale cost" type="text" value="">
	</td>

	<th>
		<label for="id_currency">Currency:</label>
	</th>
	<td colspan="2">
		{{ item_form.currency.errors }}
		<select class="form-control" id="id_currency" name="currency">
		<option value="">---------</option>
		{% for currency in currencies %}
			<option value="{{currency.id}}">
				{{currency.get_currency_icon}} {{currency.currency}}
			</option>
		{% endfor %}
		
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_terms">Terms:</label>
	</th>
	<td colspan="2">
		{{ item_form.terms.errors }}
		<select class="form-control" id="id_terms" name="terms">
		<option value="">---------</option>
		{% for term in terms %}
			<option value="{{term.id}}">{{term.term}}</option>
		{% endfor %}
		</select>
	</td>
	<th colspan="1">
		<label for="id_department">Department:</label>
	</th>
	<td colspan="2">
		{{ item_form.department.errors }}
		<select class="form-control" id="id_department" name="department">
		<option value="">---------</option>
		{% for department in departments %}
			<option value="{{department.id}}">{{department.name}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_item_unit_measure">Production Type List:</label>
	</th>
	<td colspan="2">
		{{ item_form.item_unit_measure.errors }}
		<select class="form-control" id="id_item_unit_measure" name="item_unit_measure">
		{% for unitmeasure in unit_measures %}
			<option value="{{unitmeasure.id}}">{{unitmeasure.unit_name}}</option>
		{% endfor %}
		</select>
		
	</td>
	<th colspan="1">
		<label for="id_warehouse_location">Warehouse location:</label>
	</th>
	<td colspan="2">
		{{ item_form.warehouse_location.errors }}
		<select class="form-control" id="id_warehouse_location" name="warehouse_location">
		{% for location in locations %}
			<option value="{{location.id}}">{{location.warehouse_location}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_estimated_wholesale_cost">Estimated wholesale cost:</label>
	</th>
	<td colspan="2">
		{{ item_form.estimated_wholesale_cost.errors }}
		<input class="form-control decimal" id="id_estimated_wholesale_cost" name="estimated_wholesale_cost" placeholder="Estimated wholesale cost" type="text">
	</td>
	<th colspan="1">
		<label for="id_retail_price">Retail price:</label>
	</th>
	<td colspan="2">
		{{ item_form.retail_price.errors }}
		<input class="form-control decimal" id="id_retail_price" name="retail_price" placeholder="Retail Price" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_production_type">Production type:</label>
	</th>
	<td colspan="5">
		{{ item_form.production_type.errors }}
		<select class="form-control" id="id_production_type" name="production_type">
		{% for production_type in production_types %}
			<option value="{{production_type.id}}">{{production_type.production_type_name}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_catalog_number">Catalog number:</label>
	</th>
	<td colspan="5">
		{{ item_form.catalog_number.errors }}
		<input class="form-control" id="id_catalog_number" maxlength="25" name="catalog_number" placeholder="Catalog Number" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_country_of_origin">Country of origin:</label>
	</th>
	<td colspan="5">
		{{ item_form.country_of_origin.errors }}
		<input class="form-control" id="id_country_of_origin" maxlength="25" name="country_of_origin" placeholder="Country of Origin" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_lead_time">Lead time:</label>
	</th>
	<td colspan="5">
		{{ item_form.lead_time.errors }}
		<input class="form-control" id="id_lead_time" maxlength="25" name="lead_time" placeholder="Lead Time" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_customs_designation">Customs designation:</label>
	</th>
	<td colspan="5">
		{{ item_form.customs_designation.errors }}
		<select class="form-control" id="id_customs_designation" name="customs_designation">
		{% for customdesignation in designations %}
			<option value="{{customdesignation.id}}">{{customdesignation.designation}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_customer_tariff_number">Customer tariff number:</label>
	</th>
	<td colspan="5">
		{{ item_form.customer_tariff_number.errors }}
		<input class="form-control" id="id_customer_tariff_number" maxlength="25" name="customer_tariff_number" placeholder="Customer tariff number" type="text">
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_preference_criteria">Preference criteria:</label>
	</th>
	<td colspan="5">
		{{ item_form.preference_criteria.errors }}
		<input class="form-control" id="id_preference_criteria" maxlength="25" name="preference_criteria" placeholder="Preference Criteria" type="text">
		</select>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_producer_of_item">Producer of item:</label>
	</th>
	<td colspan="5">
		<div id="producer">
			{{ item_form.producer_of_item_demo.errors }}
			
			<input type="hidden" name="producer_of_item">

			<input type="text" name="producer_of_item_demo" placeholder="Start typing to search for producer" id="id_producer_of_item_demo" class="form-control ng-pristine ng-valid" ng-model="search_producer" autocomplete="off" ng-change="searchProducer(search_producer)">
			<div class="contact_info" ng-show="show_producer">
				<table class='table'>
					<tr class="bg-success">
						<th><b>CONTACT NAME</b> :</th>
						<td>{[{producer.contact_name}]}</td>
					</tr>
					<tr class="bg-info">
						<th><b>ADDRESS</b> :</th>
						<td>{[{producer.address_1}]}</td>
					</tr>
					<tr class="bg-success">
						<th><b>CITY</b> :</th>
						<td>{[{producer.city}]}</td>
					</tr>

					<tr class="bg-info">
						<td><b>CONTACT NUMBER</b> :</td>
						<td>
							<li ng-repeat="ph in producer.phones">
								{[{ph.type}]}: {[{ph.number}]} (ext-{[{ph.ext}]})
							</li>
						</td>
					</tr>
				</table>
			</div>
			<table class="table selectable" class="ui-autocomplete ui-widget-content-custom ui-corner-all">
				<thead>
					<tr>
						<th>#</th><th>ID</th><th>Contact Name</th><th>Address 1</th><th> City </th>
						<th><a href="" class="close">x</a></th>
					</tr>
				</thead>
				<tbody>
				<tr class="ui-menu-item" ng-repeat="contact in producers" ng-click="selectProducer(contact)">
					<td>
						<input type="radio" name="contact" value="{[{contact.id}]}">
						<div class='phone' ng-repeat="phon in contact.phones">
						<input type="hidden" data-phone-number="{[{phon.number}]}" data-ext="{[{phon.phone_ext}]}" data-phone-type="{[{phon.type}]}">
						</div>
					</td>
					<td class="sid">{[{contact.id}]}</td>
					<td class="contact_name">{[{contact.contact_name}]}</td>
					<td class="address_1">{[{contact.address_1}]}</td>
					<td class="city">{[{contact.city}]}</td>
					
					<td>
						
					</td>
					
				</tr>
				</tbody>
			</table>
			
			<input type="hidden" name="producer_of_item" id="id_producer_of_item">
		</div>
	</td>
</tr>
<tr>
	<th colspan="1">
		<label for="id_shipping_weight">Shipping weight:</label>
	</th>
	<td colspan="4" colspan="1">
		{{ item_form.shipping_weight.errors }}
		<input class="form-control" id="id_shipping_weight" name="shipping_weight" placeholder="Shipping weight" type="text">
	</td>
</tr>

<tr>
	<th colspan="1">
		<label for="id_duty_percentage">Duty percentage:</label>
	</th>
	<td colspan="5">
		{{ item_form.number.errors }}
		<input class="form-control decimal" id="id_duty_percentage" name="duty_percentage" placeholder="Duty percentage" type="text">
	</td>
</tr>

<tr>
	<th colspan="1">
		<label for="id_website">Website:</label>
	</th>
	<td colspan="5">
		{{ item_form.website.errors }}
		<input class="form-control" id="id_website" maxlength="250" name="website" placeholder="product page url" type="url">
	</td>
</tr>

</table>