<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit Delivery Choice</h4>
</div>
<form name="delivery-choice-form" action="/contacts/delivery-choice/edit/{{ dcid }}/" method="post">{% csrf_token %}
<div class="modal-body">
    
    <input type="hidden" name="dcid" value="{{ dcid }}">
    <table>
        <tr>
        {% for field in dcform %}
            <td>
                {{ field }}
            </td>
        {% endfor %}
        
        </tr>
    </table>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>
</form>
<script type="text/javascript">
(function(){
    $("form[name='delivery-choice-form']").on("submit", function(e){
        e.preventDefault();
        dcid = $("input[name='dcid']").val();
        $("#delivery-choice-list span."+dcid).remove();
        console.log($(this).attr("action"));
        
        form_data = $(this).serialize();
        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: form_data,
            success: function(rdata) {
                $( "button.close-modal" ).trigger( "click" );

                $("#delivery-choice-list").prepend(rdata);

            }
        })

    })

})(jQuery)
    
</script>
