{% extends "base.html" %}
{% block title %}{{site_name}}{% endblock title %}

{% block content %}
<div class="container main-body">
	
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
	    
		</div>
	</div>
	
</div>

{% endblock content %}